* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------
                                      ESTILOS HEADER
---------------------------------------------------------------------------------------------------------------------*/
.style-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background: #a7da8a;
    border-bottom: #EC7744 1px solid;
}

.style-name {
    margin: 0%;
    flex: 1;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EC7744;
    text-shadow: -1px -1px 0 #EC7744,  1px -1px 0 #201D30, 1px  1px 0 #000;
}

.style-nav {
    flex: 1;
    margin: auto;
    padding: 1%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.style-list-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.style-boton-nav {
    font-size: 20px;
    padding-right: 5%;
    color: #EC7744;
    text-shadow: -1px -1px 0 #EC7744,  1px -1px 0 #201D30, -1px  1px 0 #33d425, 1px  1px 0 #000;
}

.style-boton-nav :hover {
    text-shadow: -1px -1px 0 #a10505,  1px -1px 0 #4adb37, -1px  1px 0 #ee1414, 1px  1px 0 #0de71f;
}

/*------------------------------------------------------------------------------------------------------------------
                                       ESTILOS  HEADER
---------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------
                                       ESTILOS FORM
---------------------------------------------------------------------------------------------------------------------*/

.main-form {
    padding-top: 2%;
    padding-bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5549b7;
}

.section-form {
    height: 100vh;
    width: 25%;
}

.form {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2c264e;
    border-radius: 15px;
    border: 1px solid black ;
}

.titulo-form {
    margin: 1%;
    text-align: center;
    font-size: 2.5rem;
    color: #A3A3A3;
    text-shadow: -1px -1px 0 #31ec0b,  1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-form {
    width: 100%;
    margin: 2%;
}

.correo {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #8EDF5F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.correo-area {
    width: 96.5%;
    border-radius: 8px;
    font-size: 1rem;
    padding: 1%;
}

.mensaje {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #EC7744;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mensaje-area {
    width: 97%;
    border-radius: 8px;
    font-size: 1rem;
    padding: 1%;
}

.enviar {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #35e615;
    position: relative;
}

.enviar:hover {
    box-shadow: 1px 2px 15px #FF3131;
}

/*------------------------------------------------------------------------------------------------------------------
                                        ESTILOS FORM
---------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------
                                        ESTILOS MAIN
---------------------------------------------------------------------------------------------------------------------*/

.main {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: #5549b7;
}

.titulo {
    padding-top: 3%;
    color: #8EDF5F;
    font-size: 40px;
    text-shadow: -1px -1px 0 #EC7744,  1px -1px 0 #000, 1px  1px 0 #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-home {
    color: #201D30;
    margin-top: 2%;
    font-size: 18px;
}


/*------------------------------------------------------------------------------------------------------------------
                                           ESTILOS MAIN
---------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------
                                           ESTILOS TARJETAS
---------------------------------------------------------------------------------------------------------------------*/

.section-cards {
    padding: 1%;
    width: 70%;
    margin: auto;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.card {
    padding-bottom: 1%;
    width: 15%;
    height: 90%;
    object-fit: cover;
    background: #995CD0;
    color: #8EDF5F;
    border: #EC7744 1px solid;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

.img-card {
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background-color: #EC7744;
}

.texto-section-cards {
    width: 90%;
    margin: auto;
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #EC7744;
}

.btn-agregar {
    padding: 1.5%;
    color: #5549b7;
    border-radius: 5px;
    background-color: #0de71f;
}

/*------------------------------------------------------------------------------------------------------------------
                                           ESTILOS FOOTER
---------------------------------------------------------------------------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #201D30;
}

.texto-footer{
    margin: 0%;
    flex: 1;
    color: #8EDF5F;
}

.nav-footer {
    flex: 1;
    margin: auto;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}

.lista-footer {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: #8EDF5F;
}

/*------------------------------------------------------------------------------------------------------------------
                                           ESTILOS FOOTER
---------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------
                                           ESTILOS RESPONSIVO
---------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1327px) and (min-width: 824px) {

    .card {
        width: 22%;
    }
}

@media screen and (max-width: 841px) {

    .style-header{

        flex-direction: column;       
        align-items: center;       
        text-align: center;
    }

    .style-name, .style-nav {
        flex-direction: column;    
        gap: 10px;
        margin-top: 10px;
    }

    .texto-section-cards {
        margin: auto;
        font-size: 0.8rem;
    }

    .section-cards {
        width: 90%;
    }

    .cards-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        width: 50%;
        margin: 2%;
    }
    
        .titulo {
        font-size: 1.5rem;
    }

    .texto-home {
        font-size: 0.8rem;
    }

    .main-form {
        width: 100%;
    }

    .section-form {
        width: 80%;
    }

    .container-form {
        padding: 2%;
    }

    .footer {
        width: 100%;
        flex-direction: column;       
        align-items: center;       
        text-align: center;
    }

}

